.home {
  max-width: 850px;
  margin: 40px auto;
  letter-spacing: 1px;
  line-height: 1.6em;
}
.card {
  background-color: rgb(234, 231, 228);
  border-radius: 10px;
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 1.5rem;
  margin-bottom: 10px;
  box-shadow: 2px 3px 5px -2px #000000;
}

.link:hover, .link:active {
  color: #8f8787;
  font-size: 110%;
}